.sidebar{
    background-color: white;
    display : flex;
    flex-direction: column  ;
    flex :0.35;
    
}
.sidebar_search
{
display: flex;
align-items: center;
background-color: #f6f6f6;
height:39px;
padding: 10px;
}
 .sidebar_searchcontainer
 {
     display: flex;
     align-items: center;
     background-color: white;
     border-radius: 20px;
     height:35px;
     width: 100%;
 }
.sidebar_searchcontainer > input
{
    border: none;
    margin: 10px;
}
.sidebar_searchcontainer > .MuiSVGIcon-root
{
    color:gray;
     
}

.sidebar_header{
    display: flex;
    justify-content: space-between;
    padding :20px;
    border-right: 1px solid lightgray;

}
.sidebar_headerright{

    
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width:10vw;

    
}
.sidebar_headerright > .MuiSVGIcon-root
{
margin-right:2vw;
font-size: 24px !important ;
}
.sidebar_chats
{   flex:1;
    background-color: grey;
    /* overflow:scroll;
 */

}